@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');

body {
    background-image: linear-gradient(to bottom, purple, red);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    color: white;
    font-family: 'Caveat Brush', cursive; 
}

.game-container {
    display: flex;
    align-items: center;
    justify-content: center; 
    height: 100vh; 
    flex-direction: column;
    text-align: center; 
}

img {
    max-height: 300px; 
    max-width: 280px; 
    object-fit: cover;
    cursor: pointer;
}

.status {
    font-size: x-large;
}
p{
    display: flex;
}
